/* arrière plan */
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #e01414;
}

/* header */
header {
    background-color: #333;
    color: white;
    padding: 20px;
    text-align: center;
}

/* la barre nav */
nav a {
    color: white;
    text-decoration: none;
    margin: 0 15px;
}

nav a:hover {
    text-decoration: underline;
}

/* section du  centre */
section {
    padding: 20px;
    background-color: rgb(71, 69, 69);
    margin: 20px;
    border-radius: 8px;
    display: flex;
    justify-content: space-between;
   /* box-shadow: 0 0 10px rgba(0,0,0,0.1);*/
}

aside {
    width: 20%;
    background-color: #555;
    color: white;
    padding: 15px;
    border-radius: 8px;
}

/* Style principal */
#main-content {
    width: 55%;
    background-color: #777;
    color: white;
    padding: 15px;
    border-radius: 8px;
}
aside, #main-content {
    width: 100%;
    margin-bottom: 20px;
}

/* pour le footer */
footer {
    background-color: #0707de;
    color: white;
    text-align: center;
    padding: 10px;
    position: fixed;
    bottom: 0;
    width: 100%;
}
